* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", serif;
}

section {
    margin: 120px 0px;
}

.container {
    max-width: 1200px;
    width: 99%;
    padding: 0px 12px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* 
// 100 – Thin.
// 200 – Extra Light (Ultra Light)
// 300 – Light.
// 400 – Normal.
// 500 – Medium.
// 600 – Semi Bold (Demi Bold)
// 700 – Bold.
// 800 – Extra Bold (Ultra Bold)
// 900 – Black. */


h1 {
    font-size: 88px;
    font-weight: 700;
}

h2 {
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

h3 {
    font-size: 64px;
    line-height: 88px;
    font-weight: 900;
    letter-spacing: 11px;
}

h4 {
    font-size: 48px;
    font-weight: 700;
}

h5 {
    font-size: 32px;
}

h6 {
    font-size: 24px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: white;
}

hr {
    border: none;
    background-color: rgba(255, 255, 255, 0.133);
    height: 0.5px;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    font-size: 20px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.600);
}


/* banner section */
.banner-content {
    margin-top: 10px;
}

.banner-content .images-overlay {
    position: relative;
}

.banner-content .images-overlay img {
    width: 100%;
}

.banner-content .images-overlay .overlay {
    content: '';
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 100%;
    height: 99%;
}

.banner-content .images-overlay .overlay .title {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* 65% OFF section */

.off-section .off-title {
    text-align: center;
    margin-bottom: 48px;
}

.off-section .off-title h1 {
    color: red;
}

.off-section .off-title h6 {
    color: red;
    margin-top: 48px;
    margin-bottom: 16px;
}

.off-section .off-title h4 {
    color: #070211;
}

.off-section img {
    width: 50%;
    margin: 0 auto;
    display: flex;
}

/* Welcome to midnight party */

.midnight-party .images-overlay {
    position: relative;
}

.midnight-party .images-overlay img {
    width: 100%;
}

.midnight-party .images-overlay .overlay {
    content: '';
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.935), rgba(0, 0, 0, 0.141));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 100%;
    height: 99%;
    display: flex;
    align-items: center;
    padding: 0 120px;
}

.images-overlay .overlay .content {
    color: white;
}

.overlay .content p {
    margin-top: 24px;
    margin-bottom: 48px;
    font-size: 18px;
    line-height: 30px;
    color: white;
}

.overlay .content a {
    font-size: 20px;
    font-weight: 700;
}

/* place-date-time */
.place-date-time {
    font-family: "Inter", sans-serif;
}

.place-date-time .content {
    background-image: linear-gradient(to bottom, #ff009911, #ff009900);
    border-radius: 10px;
    padding: 100px 0px 214px 0px;
    text-align: center;
}

.place-date-time .content h5 {
    line-height: 56px;
    margin-bottom: 48px;
}

.place-date-time .content h5 .place,
.date,
.time {
    color: #FF0000;
}

.place-date-time .content a {
    font-size: 20px;
    font-weight: 700;
    background-color: #FF0000;
    padding: 16px 32px;
    border-radius: 8px;
}

/* Coming Soon */
.coming-soon .details-information {
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
}

.coming-soon .details-information div {
    flex: 1;
}

.details-information .new-best-offer h6 {
    color: #FF0000;
}

.details-information .new-best-offer h4 {
    margin-top: 16px;
    margin-bottom: 22px;
    color: #070211;
}

.details-information .images {
    padding: 50px;
    border-radius: 50%;
    border: 15px solid #FF0000;
}

.details-information .images img {
    width: 100%;
}

.details-information .year-2024 h4 {
    color: #FF0000;
}

.details-information .year-2024 p {
    margin-top: 16px;
    margin-bottom: 40px;
}

/* WHAT IS FUNCTIONAL */
.functional .header-content {
    text-align: center;
    align-items: center;
}

.functional .header-content h6 {
    font-family: "Inter", sans-serif;
}

.functional .header-content h2 {
    margin-top: 16px;
    margin-bottom: 28px;
    line-height: normal;
}

.functional .header-content h2 span {
    color: #FF0000;
}

.functional .images-content {
    margin-top: 64px;
}

.functional .images-content {
    display: grid;
    grid-template-areas:
        "one two three"
        "four four four";
    position: relative;
}

.images-content .child {
    max-width: 100%;
    position: absolute;
}

.images-content .child:nth-child(4) {
    grid-column: 1/4;
    grid-row: 2/3;
    left: 0;
    bottom: -641px;
    right: 0;
    z-index: -1;
}

.images-content .child.one {
    width: 60%;
    top: 35px;
}

.images-content .child.three {
    top: 0;
    right: 0;
}

.child.two {
    left: 600px;
    z-index: 1;
    max-width: 20%;
    top: 100px;
}

.images-content img {
    width: 100%;
    height: 100%;
}

/* Our Awesome Portfolio */
section.portfolio {
    margin-top: 738px;
}

.portfolio .header-content h6 {
    font-family: "Inter", sans-serif;
    color: #FF0000;
}

.portfolio .header-content h4 {
    margin-top: 16px;
    margin-bottom: 28px;
    font-weight: 900;
}

.photo-gallery {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.photo-gallery div {
    transition: transform .9s;
    overflow: hidden;
    border-radius: 16px;
}

.photo-gallery div:hover img {
    transform: scale(1.1);
}

.photo-gallery img {
    width: 100%;
    transition: transform .9s;
}

/* Subscribe Newsletter */
.newsletter .container {
    background-color: #FFF2F2;
    border-radius: 16px;
    text-align: center;
    padding: 80px 212px;
}

.newsletter .content img {
    width: 150px;
}

.newsletter .content h4 {
    margin-top: 40px;
    margin-bottom: 22px;
}

.newsletter .content p {
    margin-bottom: 48px;
}

.newsletter form {
    background-color: white;
    display: flex;
    width: fit-content;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
}

form input {
    border: 0;
    outline: none;
    padding: 10px 20px;
    width: 400px;
    height: 70px;
    font-size: 18px;
    border-radius: 50px;
    font-family: "Inter", sans-serif;
}

form button {
    background-color: #FF0000;
    border: none;
    outline: none;
    width: 150px;
    height: 70px;
    cursor: pointer;
    border-radius: 0px 50px 50px 0px;
    color: white;
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

/* footer section */
footer {
    margin-top: 120px;
    background-color: #070211;
    color: white;
    padding: 120px 0px;
}

footer .footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer-top address,
.footer-top .contract ul li a {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    font-style: normal;
}

.footer-top .contract ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-mid .social-link ul {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
    padding: 48px 0px;
}

.footer-mid .social-link ul li a img {
    width: 70%;
}

footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}









/* ==============Responsive classes============== */
/* Responsive: start 320px end: 1368px  */


@media screen and (min-width: 320px) and (max-width: 576px) {
    section {
        margin: 60px 0px;
    }

    h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 19px;
        font-weight: 500;
        line-height: 40px;
    }

    h3 {
        font-size: 18px;
        line-height: 38px;
        font-weight: 500;
        letter-spacing: 0;
    }

    h4 {
        font-size: 25px;
    }

    h5 {
        font-size: 14px;
        margin-bottom: 10px;
    }

    h6 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
        line-height: 20px;
    }

    .midnight-party .images-overlay>img {
        width: 100%;
        height: 200px;
    }

    .overlay .content p {
        margin-top: 5px;
        margin-bottom: 8px;
        font-size: 12px;
        line-height: 20px;
        color: white;
    }

    .off-section .off-title {
        margin-bottom: 25px;
    }

    .off-section .off-title h6 {
        margin-top: 20px;
    }

    .images-overlay .overlay .content {
        position: absolute;
        padding: 12px;
    }

    .midnight-party .images-overlay .overlay {
        flex-direction: column;
    }

    .images-2024 {
        right: 0;
        position: absolute;
        width: 20%;
        top: 44%;
        bottom: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    section {
        margin: 60px 0px;
    }

    h2 {
        font-size: 35px;
        font-weight: 600;
        line-height: 50px;
    }

    h3 {
        font-size: 25px;
        line-height: 38px;
        font-weight: 500;
        letter-spacing: 0;
    }

    h5 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .midnight-party .images-overlay .overlay {
        padding: 0 20px;
    }

    .overlay .content p {
        margin-bottom: 25px;
        font-size: 16px;
    }

    .images-2024 {
        position: absolute;
        width: 12%;
        top: 44%;
        bottom: 55%;
        transform: translate(-50%, -50%);
        right: 30px;
    }

    .content {
        width: 75%;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    section {
        margin: 60px 0px;
    }

    h2 {
        font-size: 48px;
        font-weight: 700;
        line-height: 80px;
        margin-top: 10px;
    }

    .midnight-party .images-overlay .overlay {
        padding: 20px;
    }

    h3 {
        font-size: 40px;
        line-height: 68px;
        font-weight: 700;
        letter-spacing: 0px;
    }

    .images-2024 {
        width: 20%;
    }

    .content {
        width: 70%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    section {
        margin: 60px 0px;
    }

    h2 {
        margin-top: 10px;
        font-size: 62px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    h2 {
        margin-top: 10px;
    }
}